/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, #1e3c72, #2a5298);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 80px;
  padding: 0 20px;
  left: 0;
  top: 0;
  z-index: 0;
  box-sizing: border-box;
  
  
}

.navbar-container {
  width: 100%; 
  margin: 0;
  padding: 0;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.website-name {
  color: #fff;
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.logout-button {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  background: linear-gradient(45deg, #4a90e2, #007aff);
  border-radius: 5px;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logout-button:hover {
  background: linear-gradient(45deg, #007aff, #4a90e2);
  transform: translateY(-2px);
}

/* Sidebar styles */
.nav-menu {
  background: linear-gradient(45deg, #1e3c72, #2a5298);
  width: 250px;
  height:100vh;
  display: flex;
  flex-direction: column;
  position:fixed;
  top: 89px;
  left: 10;
  transition: 850ms;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.nav-menu-items {
  width: 100%;
  padding: 0;
}

.nav-menu-items li {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 16px;
  list-style: none;
  height: 60px;
  transition: background 0.3s ease;
}

.nav-menu-items li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.nav-menu-items li:hover {
  background: rgba(255, 255, 255, 0.1);
}

.nav-menu-items li a:hover {
  transform: translateX(5px);
}

.nav-text {
  margin-left: 16px;
}
